/* Estilos para la página en general */

body {
    font-family: Sans-serif, Arial;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f1ecec, #d5f1e3, #cdf7e2);
}

h1 {
    text-align: center;
    margin-top: 1.5rem;
}


/* Estilos para el contenido de la izquierda */

#izquierda {
    width: 50%;
    float: left;
}

.entrada {
    margin: 2rem;
}

.texto {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    resize: vertical;
    font-size: 1.1rem;
}

.botones {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para el contenido de la derecha */

#derecha {
    width: 50%;
    float: right;
}

.resultado {
    margin: 2rem;
    font-size: 1.2rem;
}

.copiar {
    text-align: center;
    margin-top: -0.85rem;
}

#copiar-btn {
    background-color: #008CBA;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

#copiar-btn:hover {
    background-color: #007AA3;
}

/* Estilos para el pie de página */

#footer {
    clear: both;
    text-align: center;
    margin-top: 1.5em;
    background-color: #f2f2f2;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0.25rem;
}

footer p {
    margin: 0;
}

footer a {
    color: #4CAF50;
}

/* Media queries para dispositivos de diferentes tamaños */

@media only screen and (max-width: 600px) {
    .entrada, .resultado {
        margin: 1rem;
    }
    
    textarea {
        border-radius: 0.2rem;
        padding: 0.3rem;
        font-size: 0.8rem;
    }
    
    button {
        padding: 0.8rem 1.5rem;
        margin-right: 0.5rem;
        border-radius: 0.2rem;
        font-size: 0.8rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    .texto {
        margin-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .entrada, .resultado {
        margin: 1.5rem;
    }
}
